@import "../../Variables.scss";

.about-container {
    width: 100vw;
    height: calc(100vh - #{$navbar-height});

    &__image {
        position: relative;
        height: 100%;
        width: 100%;
        border: 1px solid;
        z-index: 10;
        &__container {
            position: relative;
            top: calc(#{$relative-size} / 7.5);
            left: calc(#{$relative-size} / 6);
        }
        &__ear {
            position: absolute;
            top: calc(#{$relative-size} / 2.3);
            left: calc(#{$relative-size} / 50);
            width: calc(#{$relative-size} / 1.8);
        }
        &__eye {
            position: absolute;
            top: calc(#{$relative-size} / 4.4);
            left: calc(#{$relative-size} / 1.85);
            width: calc(#{$relative-size} / 2.5);
        }
        &__face {
            position: absolute;
            width: calc(#{$relative-size} / 1);
            left: calc(#{$relative-size} / 14);
        }
    }
    &__text {
        position: absolute;
        top: calc(#{$relative-size} / 2.3);
        right: calc(#{$relative-size} / 50);
        width: $relative-size;
        padding: calc(#{$relative-size} / 20);
        border-radius: calc(#{$relative-size} / 15);
        // background-color: $light;
        // border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__title {
            font-size: calc(#{$relative-size} / 10);
            font-weight: 800;
            margin: 0;
        }
        &__body {
            font-size: calc(#{$relative-size} / 30);
            font-weight: 500;
            text-align: center;
            margin: 0;
        }
        &__image {
            width: calc(#{$relative-size} / 3);
            border-radius: calc(#{$relative-size} / 6);
        }
    }
    &__pattern {
        z-index: 10;
        opacity: 1;
        position:absolute;
        top: 0;
        left: 0;
        &__image {
            top: 0;
            left: 0;
        }
    }
}
